
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
input {
  font-family: 'Montserrat', sans-serif;
}


.container1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


.bg {
  background-image: linear-gradient(to right top, #0d0107, #150411, #19081a, #190d22, #16122c, #121834, #0b1e3b, #002441, #002c44, #003343, #003a40, #11403d);
}


.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.container1::before {
  content: '';
  position: absolute;
  height: 3000px;
  width: 3000px;
  top: -10%;
  right: 48%;
  background-image: linear-gradient(-45deg, #25A55F 0%, #06138a 100%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 6;
  /* transition: 1.8s ease-in-out; */
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


.title {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 10px
}


.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}


.input-field i {
  text-align: center;
  line-height: 55px;
  color: #808080;
  font-size: 1.1rem;
}


.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.input-field input:placeholder-shown
{
  color: #aaa;
  font-weight:400;
}


.btn1 {
  width: 150px;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #12E2A3;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 10px 0;
  transition: all 0.5s;
}


.btn1:hover {
  background-color: #25A55F;
}


.social-text {
  color:  #aaa;
  font-weight: bolder;
  padding: 0.7rem 0;
}


.social-media {
  display: flex;
  justify-content: center;
}


.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #fff;
  margin: 0 0.45rem;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 0.5s;
}


.social-icon:hover {
  color: #25A55F;
  border-color: #12E2A3;
}


.signin {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}


 form.sign-in-form {
  z-index: 2;
}


form.sign-up-form {
  z-index: 1;
  opacity: 0;
}


.image {
  /* margin-top: 2%; */
  /* margin-left: 90%; */
  margin-bottom: 0;
  width: 50%;
}


.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 7;
}


.left-panel {
  padding: 3rem 17% 2rem 12%;
}


.right-panel {
  padding: 3rem 12% 2rem 17%;
}


.panel .content {
  color: #fff;
  font-weight: 400;
}


.panel .content .size{
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.6;
}


.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}


.panel p {
  font-size: 1.7rem;
  line-height: 1.3;
  padding: 0.7rem 0;
}


.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}


/* Animation */

.container1.sign-up-mode::before {
  transform: translate(100%, -50%);
  right: 52%
}
