body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top,#0d0107,#150411,#19081a,#190d22,#16122c,#121834,#0b1e3b,#002441,#002c44,#003343,#003a40,#11403d);
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.stocklist {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-collapse: collapse;
  width: 100%;
  /* background-image: linear-gradient(to right top,#0d0107,#150411,#19081a,#190d22,#16122c,#121834,#0b1e3b,#002441,#002c44,#003343,#003a40,#11403d); */
  /* padding: 10px; */
  float: left;


}

.pltstyle{

  align:right;
  float: right;
  color: white;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
}


.stocklist td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  width:600px;
  align:left;
}
.form-inline{
  display: inline-block;
  padding: 10px;
}

.search-container button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

#symbhover:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* .stocklist tr:nth-child(even){background-color: #f2f2f2;} */

.stocklist tr:hover {background-image: linear-gradient(to left top, #051937, #002943, #00353b, #003f23, #314504);}

.stocklist tr{
  padding: 10px;
}
.main_div{
  margin: 0px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.stocklist th {
  background-color: #000000;
  color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: inline-block;
  /* width: 100%; */

}
tbody{
  height: 530px;
    overflow: auto;
    display: inline-block;
    width: 100%;
}

.btn2 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 9px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.scrl{

    height:calc(100vh - 90px);
    /* padding-top: 55px; */
    display: block;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}


/* Darker background on mouse-over */
.btn2:hover {
  background-color: RoyalBlue;
}

/* li{
  margin: 0 0 41px 0;

} */
