@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top,#0d0107,#150411,#19081a,#190d22,#16122c,#121834,#0b1e3b,#002441,#002c44,#003343,#003a40,#11403d);
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.stocklist {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-collapse: collapse;
  width: 100%;
  /* background-image: linear-gradient(to right top,#0d0107,#150411,#19081a,#190d22,#16122c,#121834,#0b1e3b,#002441,#002c44,#003343,#003a40,#11403d); */
  /* padding: 10px; */
  float: left;


}

.pltstyle{

  align:right;
  float: right;
  color: white;
  padding-top: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
}


.stocklist td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  width:600px;
  align:left;
}
.form-inline{
  display: inline-block;
  padding: 10px;
}

.font-style {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600px;
}

.font-style-chart-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 34px;
}

.search-container button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.input-style {
  width: 300px;
  height: 45px;
  border: 3px solid #50CB93;
  border-radius: 10px;
  margin-bottom: 5px;
}



#symbhover:hover{
  text-decoration: underline;
  cursor: pointer;
}

.red {
  color: red;
}

.green {
  color: green;
}


/* .stocklist tr:nth-child(even){background-color: #f2f2f2;} */

.stocklist tr:hover {background-image: linear-gradient(to left top, #051937, #002943, #00353b, #003f23, #314504);}

.stocklist tr{
  padding: 5px;
}
.main_div{
  margin: 0px;
  padding: 5px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.right-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.stocklist th {
  background-color: #212529;
  color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: inline-block;
  /* width: 100%; */
}



tbody{
  height: 530px;
    overflow: auto;
    display: inline-block;
    width: 100%;
}

.btn2 {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 9px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.scrl{

    height:calc(100vh - 90px);
    /* padding-top: 55px; */
    display: block;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}


/* Darker background on mouse-over */
.btn2:hover {
  background-color: RoyalBlue;
}

/*Styling of Parameters*/
.params {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  padding: 10px 10px 10px 35px;
  gap: 20px;
  width: 720px;
  height: 210px; 
  margin-top: 10px;
  margin-left: 12px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #11403D;
  background-image: linear-gradient(to right top, #0d0107, #150411, #19081a, #190d22, #16122c, #121834, #0b1e3b, #002441, #002c44, #003343, #003a40, #11403d);
}

.alignment1 {
  line-height: 1rem;
  padding: 20px;
}

.alignment2 {
  line-height: 1rem;
  padding: 20px;
}

.font1 {    
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.font2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 200; 
}

